# Server
PORT=3000
NODE_ENV=development

# Database Supabase
DATABASE_URL=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=30d

# Google OAuth
GOOGLE_CLIENT_ID_WEB=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID_ANDROID=

# Resend Email
RESEND_API_KEY=
MAIL_FROM=

# Firebase FCM
FIREBASE_SERVICE_ACCOUNT_PATH=./firebase-adminsdk.json

# Upload
UPLOAD_PATH=./uploads
MAX_FILE_SIZE=5242880